# Dataframe

In [12]:
from pyspark.sql import SparkSession, Row
from faker import Faker

In [13]:
spark = SparkSession.builder.appName("createDataFrameOverview3").getOrCreate()

In [14]:
fake = Faker(locale="es_MX")

def create_employees(num_employees):
    employee_list = []
    
    for _ in range(1, num_employees):
        employee = {}
        employee["first_name"] = fake.first_name()
        employee["last_name"] = fake.last_name()
        employee["job"] = fake.job()
        employee["department"] = fake.random_element(elements=("IT", "HR", "Marketing", "Finance"))
        employee["role"] = fake.random_element(elements=("Manager", "Developer", "Analyst", "Associate"))
        employee["salary"] = fake.random_int(min=30000, max=150000, step=1000)
        employee["email"] = fake.email()
        employee_list.append(employee)
    
    return spark.createDataFrame(employee_list)

In [15]:
df = create_employees(50)

In [16]:
df.show(truncate=False)

+----------+---------------------------------+-----------+-------------------------------------------------------------------+----------+---------+------+
|department|email                            |first_name |job                                                                |last_name |role     |salary|
+----------+---------------------------------+-----------+-------------------------------------------------------------------+----------+---------+------+
|HR        |barbaraporras@example.com        |Ángela     |Bibliotecarios                                                     |Niño      |Manager  |114000|
|IT        |ksepulveda@example.com           |Guillermo  |Cazador                                                            |Reyna     |Associate|36000 |
|IT        |roybalrenato@example.org         |Inés       |Director de publicidad y relaciones públicas                       |Colón     |Developer|120000|
|IT        |francisco-javier76@example.net   |Mayte      |Controlador de instalaciones de procesamiento de productos químicos|Mata      |Manager  |49000 |
|Marketing |fmerino@example.com              |Carolina   |Músico                                                             |Pacheco   |Manager  |83000 |
|HR        |eloyvalentin@example.com         |Elias      |Empleado de servicios de apoyo a la producción                     |Rivera    |Developer|122000|
|Marketing |julio-cesargarza@example.org     |María Luisa|Oficial de préstamos y créditos                                    |Serrano   |Developer|83000 |
|Finance   |gilberto51@example.net           |Jos        |Director de servicios de cuidado de las personas de edad           |Cotto     |Manager  |107000|
|IT        |jorge-luisbernal@example.net     |Alonso     |Director financiero                                                |Ontiveros |Associate|56000 |
|IT        |villasenorjaime@example.com      |Gustavo    |Orfebre                                                            |Mena      |Associate|86000 |
|Marketing |susana88@example.net             |Dulce      |Patronista y cortador de tela                                      |Báez      |Developer|103000|
|Finance   |pabonvicente@example.net         |Gabriela   |Bibliotecarios                                                     |Leyva     |Analyst  |93000 |
|Marketing |lcisneros@example.net            |Carmen     |Profesional de medicina alternativa                                |Corrales  |Analyst  |47000 |
|Finance   |rene95@example.com               |Héctor     |Escritor                                                           |Batista   |Manager  |93000 |
|Marketing |guevaraeugenio@example.com       |Conchita   |Orfebre                                                            |Ulibarri  |Associate|39000 |
|Marketing |leticia06@example.com            |María José |Agente de servicios de seguridad social                            |de Jesús  |Developer|30000 |
|Finance   |bernalnatividad@example.net      |Martha     |Profesional de relaciones públicas                                 |Negrón    |Associate|69000 |
|Finance   |esquivelmaria-eugenia@example.net|Rolando    |Profesional religioso                                              |Almonte   |Manager  |109000|
|Finance   |marianamiramontes@example.net    |Gonzalo    |Técnico en documentación sanitaria                                 |Aparicio  |Associate|105000|
|HR        |luisnazario@example.com          |Rebeca     |Mecánico y reparador en electrónica                                |Villalobos|Associate|82000 |
+----------+---------------------------------+-----------+-------------------------------------------------------------------+----------+---------+------+
only showing top 20 rows

In [17]:
df.schema

StructType([StructField('department', StringType(), True), StructField('email', StringType(), True), StructField('first_name', StringType(), True), StructField('job', StringType(), True), StructField('last_name', StringType(), True), StructField('role', StringType(), True), StructField('salary', LongType(), True)])

In [18]:
df.printSchema()

root
 |-- department: string (nullable = true)
 |-- email: string (nullable = true)
 |-- first_name: string (nullable = true)
 |-- job: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- role: string (nullable = true)
 |-- salary: long (nullable = true)

In [19]:
def create_employees_1(num_employees):
    Employee = Row("first_name", "last_name", "job", "department", "role", "salary", "email")

    data = []
    for _ in range(num_employees):
        data.append(
            Employee(
                fake.first_name(),
                fake.last_name(),
                fake.job(),
                fake.random_element(elements=("TI", "HHRR", "Marketing", "Finanzas")),
                fake.random_element(elements=("Administrador", "Programador", "Analista", "Asociado")),
                fake.random_int(min=30000, max=150000, step=1000),
                fake.email()
            )
        )
    
    return data

df_employees_1 = spark.createDataFrame(create_employees_1(30))

df_employees_1.show(truncate=False)

+--------------+-----------+--------------------------------------------------------+----------+-------------+------+------------------------------+
|first_name    |last_name  |job                                                     |department|role         |salary|email                         |
+--------------+-----------+--------------------------------------------------------+----------+-------------+------+------------------------------+
|María         |Rodrígez   |Reponedor de estanterías                                |Marketing |Analista     |96000 |daviles@example.net           |
|María Cristina|Marrero    |Técnico en redes y sistemas de computadores             |Marketing |Administrador|125000|zcavazos@example.org          |
|Joaquín       |de la Garza|Empleado encargado de las nóminas                       |TI        |Programador  |40000 |jaquelineescobedo@example.net |
|Rosa          |Casares    |Técnico en ingeniería mecánica                          |Marketing |Programador  |128000|vmascarenas@example.com       |
|Jonás         |Cazares    |Guía de turismo                                         |Marketing |Analista     |115000|ramiropaez@example.org        |
|Patricia      |Burgos     |Agente inmobiliario                                     |HHRR      |Analista     |127000|duartejaime@example.org       |
|Gregorio      |Laureano   |Operador de máquinas para fabricar productos de papel   |Finanzas  |Administrador|122000|modestomuro@example.net       |
|Citlali       |Collazo    |Receptor de apuestas                                    |TI        |Administrador|84000 |lucia62@example.net           |
|Alta  Gracia  |Castro     |Albañil                                                 |TI        |Programador  |137000|nevarezaurora@example.org     |
|Jacobo        |Ulloa      |Profesional de la salud y la higiene laboral y ambiental|TI        |Administrador|101000|aldonza45@example.net         |
|Perla         |Romo       |Filósofo                                                |TI        |Asociado     |59000 |cortesoswaldo@example.org     |
|Federico      |Rascón     |Buzo                                                    |Finanzas  |Programador  |95000 |ppina@example.org             |
|Rubén         |Venegas    |Peón de pesca y acuicultura                             |HHRR      |Administrador|32000 |arcelia62@example.com         |
|Luz           |Toro       |Regulador y operador de máquinas y herramientas         |Finanzas  |Programador  |128000|elisa00@example.net           |
|Leonel        |Peres      |Herrero                                                 |Marketing |Programador  |57000 |yaparicio@example.com         |
|Sessa         |Guardado   |Empleado de centro de llamadas                          |Marketing |Asociado     |106000|josefina54@example.net        |
|Gloria        |Valdivia   |Asistente farmacéutico                                  |HHRR      |Analista     |131000|montenegroveronica@example.com|
|Julia         |Espinosa   |Panaderos, pasteleros y confiteros                      |TI        |Programador  |142000|angelagamboa@example.org      |
|Conchita      |Muñiz      |Moldeador y machero                                     |Marketing |Programador  |60000 |cynthiatafoya@example.net     |
|Maximiliano   |Tejada     |Director de producción agropecuaria y silvicultura      |Finanzas  |Administrador|40000 |luis-manuelgriego@example.org |
+--------------+-----------+--------------------------------------------------------+----------+-------------+------+------------------------------+
only showing top 20 rows

In [20]:
df_employees_1.schema

StructType([StructField('first_name', StringType(), True), StructField('last_name', StringType(), True), StructField('job', StringType(), True), StructField('department', StringType(), True), StructField('role', StringType(), True), StructField('salary', LongType(), True), StructField('email', StringType(), True)])

In [21]:
df_employees_1.printSchema()

root
 |-- first_name: string (nullable = true)
 |-- last_name: string (nullable = true)
 |-- job: string (nullable = true)
 |-- department: string (nullable = true)
 |-- role: string (nullable = true)
 |-- salary: long (nullable = true)
 |-- email: string (nullable = true)