# Generar datos falsos en Python con Faker

In [1]:
from faker import Faker
import pandas as pd

In [2]:
fake = Faker(locale="es_ES")

def create_employees(num_employees):
    employee_list = []
    
    for _ in range(1, num_employees):
        employee = {}
        employee["first_name"] = fake.first_name()
        employee["last_name"] = fake.last_name()
        employee["job"] = fake.job()
        employee["department"] = fake.random_element(elements=("TI", "RRHH", "Marketing", "Finanzas"))
        employee["role"] = fake.random_element(elements=("Administrador", "Programador", "Analista", "Asociado"))
        employee["salary"] = fake.random_int(min=30000, max=150000, step=1000)
        employee["email"] = fake.email()
        employee_list.append(employee)
    
    return pd.DataFrame(employee_list)

In [3]:
create_employees(20)

,first_name,last_name,job,department,role,salary,email
0,Saturnino,Salazar,Director de servicios de salud,RRHH,Programador,127000,surena@example.com
1,Sara,Hurtado,Empleado encargado de las nóminas,Finanzas,Administrador,114000,pmendez@example.net
2,Amanda,Ros,Profesional religioso,Marketing,Programador,106000,halcazar@example.org
3,Vinicio,Alcántara,Costurero,RRHH,Programador,62000,rita44@example.com
4,Camilo,Estévez,Analista financiero,TI,Analista,62000,ymarti@example.net
5,Juana,Larrañaga,Director de explotaciones de minería,Marketing,Analista,53000,claudio02@example.org
6,Cintia,Villalobos,Catador de bebidas,RRHH,Programador,105000,sabaterclaudio@example.org
7,Primitiva,Andrés,Mecánico y ajustador electricista,Finanzas,Administrador,79000,bnebot@example.net
8,Vinicio,Jaén,Estadístico,TI,Programador,42000,qgaya@example.net
9,Rolando,Aguiló,Zoólogo,Marketing,Administrador,47000,chuycrespo@example.com
10,Kike,Esparza,Tapicero,RRHH,Programador,89000,custodiaminguez@example.com
11,Soraya,Goicoechea,Director de producción agropecuaria y silvicul...,Marketing,Administrador,37000,eagustin@example.com
12,Elpidio,Conde,Diseñador de productos,TI,Administrador,82000,bonifaciogaray@example.com
13,Lara,Marti,Técnico en ciencias físicas y químicas,RRHH,Asociado,39000,qcruz@example.net
14,Artemio,Belda,Practicante y asistente médico,RRHH,Programador,61000,sesteban@example.org
15,Cristian,Moles,Empleado de control de abastecimientos e inven...,TI,Administrador,33000,gvinas@example.net
16,Jorge,Ríos,Traductor e intérprete,RRHH,Analista,116000,celso14@example.org
17,Chus,Sabater,Minero,RRHH,Asociado,50000,dbusquets@example.com
18,Casemiro,Lago,"Operador de máquinas de embalaje, embotellamie...",Finanzas,Asociado,37000,custodia56@example.org

In [4]:
df = create_employees(20)

In [5]:
df.to_csv("../data/fake_employes.csv")